/* Navbar */
.navbar-ce{
    background-color:#FFF3DF;             
    --bs-navbar-color:#C08C62;          
    --bs-navbar-hover-color:#A06F45;     
    --bs-navbar-active-color:#A06F45;      
    --bs-navbar-brand-color:#C08C62;      
    --bs-navbar-brand-hover-color:#A06F45; 
    --bs-navbar-toggler-border-color:#C08C62; 
  }
  
  .footer-ce{
    background:#FFF3DF;    /* mismo fondo que la navbar */
    color:#C08C62;         /* marrón clarito de la navbar */
    border-top:1px solid rgba(0,0,0,.06);
  }
  