/* Navbar */
.navbar-ce {
  background-color: #ffe5be;
  --bs-navbar-color: #865b38;
  --bs-navbar-hover-color: #865b38;
  --bs-navbar-active-color: #865b38;
  --bs-navbar-brand-color: #865b38;
  --bs-navbar-brand-hover-color: ##865b38;
  --bs-navbar-toggler-border-color: ##865b38;
}

.footer-ce {
  background: #ffe5be;
  /* mismo fondo que la navbar */
  color: #865b38;
  /* marrón clarito de la navbar */
  border-top: 1px solid rgba(0, 0, 0, .06);
}